.wrapper {
    min-height: 80vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper p {
    color: bisque;
    font-size: 30px;
    margin-top: 30px
}

.start__ng {
    margin-bottom: 20px;
    background-color: #fffeef;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #000000;
    font-size: 25px;
    color: #222222;
}

.start__ng:hover {
    background-color: #666666;
    color: #f0f0f0;
    transition: .3ms all ease;
}


.header__text{
    border-bottom-width: 3px;
    border-bottom-color: #666666;
    border-bottom-style: solid;
    background-color: #333333;
    width: 100%;
    height: 20%;
    font-size: 35px;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    color: beige;
}

.header__text p {
    background-color: inherit;
    display: inline-flex;
    width: 50%;
    box-sizing: content-box;
}

.countO {
    justify-content: right;
}